
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    background-color: #B19CD7;
    color: white;
    padding: 15px;
    text-align: center;
}




  


.topnav-centered a:hover {
    background-color: #fff;
    color: #C0AFE2;
 }
  



.sidebar {
    width: 100%;
    overflow: hidden; 
    min-height: 70vh;
}



.sidebar {
    width: 25%;
    background-color: #f4f4f4;
    padding: 20px;
    box-sizing: border-box;
    float: left; 
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 10px 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
}

.sidebar ul li a:hover {
    color: #ff0000;
}
.sidebar ul li a {
min-height: 70vh;
}


.article {
    width: 75%;
    padding: 20px;
    box-sizing: border-box;
    float: left;
    min-height: 70vh; 
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    clear: both; 
}
nav {
    background-color: #333;
    text-align: center; /* Center the links inside the nav */
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px; /* Space between links */
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
}

nav ul li a:hover {
    background-color: #ddd;
    color: black;
}